/* You can add global styles to this file, and also import other style files */

html, body { 
  height: auto !important;
    min-height: 100%;
 }
body {margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden; /* למניעת גלילה לצדדים */ }

/* Comments Dialog Styles */
::ng-deep .comments-dialog .mat-mdc-dialog-container {
  padding: 0 !important;
  max-height: 90vh !important;
  height: auto !important;
  display: flex !important;
  flex-direction: column !important;
}

::ng-deep .comments-dialog .mat-mdc-dialog-content {
  padding: 0 !important;
}
::ng-deep .comments-dialog .mat-mdc-dialog-actions {
  padding: 0 !important;
}
